:root {
    --primary-color: #7f56d9;
}

.textLogo{
    color: var(--primary-color);
    font-weight: 700;
}

.textLogo:hover{
    color: var(--primary-color);
}

.vector {
    font-size: 17px;
    color: var(--primary-color);
}

.frameNav {
    width: 90%;
    margin: auto;
    background-color: #fff;
}

nav ul li {

    font-size: 17px;
    font-weight: 500;
    line-height: 1.19;

}

.navLink{
    color: #101828;
    
}

.navLink:hover{
    color: #101828;
}

nav ul li:hover {
    color: #101828;
}

.btnSignIn{
    
    color: #101828;
    border: none;
    text-shadow: 1px 4px 3px rgba(0, 0, 0, 0.6);
    font-weight: 500;
}

.btnSignIn:hover{
    
    color: #101828;
    border: none;

}

.btnSignUp{
    background-color: var(--primary-color);
    color: white;
    border: none;
}

.btnSignUp:hover{
    background-color: var(--primary-color);
    color: white;
    border: none;
}